{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, меня зовут Иван</h1>
<p>
  <img src="{% static 'img/author.jpeg' %}" class="d-inline-block align-top" alt=""> 
</p>
<h5>
  Это я
</h5>
<p>
  Это мой первый сайт. На данный момент работаю тестировщиком ПО.<br>
  Но работая тестировщиком понял, что хочу творить и созидать, <br>
  поэтому решил пойти учиться на курс Python-разработчик от <br>
  Яндекс-практикума. <br>
  Почему именно Python? Да потому что это крутой язык!
</p>
{% endblock %}