{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>
      Сайт написан на языке Python 3.7 с использованием<br>
      фреймворка Django 2.2.9.
      К сожелению автор сайта пока не очень сильно освоил<br>
      верстку страниц, поэтому на данном этапе страницы<br>
      могут выглядеть немного криво и некрасиво.<br>
      Но автор будет стараться улучшать свой продукт<br>
      до тех пор, пока он не танет идеальным. 🙃
    </p>
  </article>
</div>
{% endblock %}